{% extends 'main.html' %}
{% load static %}
{# Load the tag library #}
{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block body %}
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <img class="card-img-top" src="https://placeimg.com/640/310/any" alt="Card image cap">
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><span class=""></span>@{{ request.user.username }}</li>
          <li class="list-group-item">
            {% if request.user.first_name %}
              {{ request.user.first_name }} {{ request.user.last_name }}
            {% else %}
              <span class="text-info">Debe actualizar la información de su perfil </span>
            {% endif %}
          </li>
          {% if request.user.qrcode_set.all.first.qr_code.url %}
            <li class="list-group-item">
              <div class="qr-wrapper">
                <img src="{{ request.user.qrcode_set.all.first.qr_code.url }}">
                <div class="btn-wrapper">
                  <a href="#" class="btn btn-warning"
                     data-clipboard-text="{{ HOST }}{{ request.user.qrcode_set.all.first.get_absolute_url }}">Copiar
                    enlace
                  </a>
                </div>
              </div>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
    <div class="col-sm-8">
      <h4>Visitas al perfil</h4>
      <div class="card">
        <table class="table table-responsive">
          <thead>
          <tr class="table-secondary">
            <th>IP</th>
            <th>Navegador</th>
            <th>SO</th>
            <th>Fecha</th>
          </tr>
          </thead>
          <tbody id="visits">
          {% with request.user.qrcode_set.all.first as qrcode %}
            {% if not qrcode.scan_set.all %}
              <tr id="placeholder">
                <td colspan="3" class="text-center text-muted">No hay visitas</td>
              </tr>
            {% else %}
              {% for scan in qrcode.scan_set.all %}
                <tr>
                  <td>{{ scan.ip }}</td>
                  <td>{{ scan.browser }}</td>
                  <td>{{ scan.os }}</td>
                  <td>{{ scan.get_create_date_as_string }}</td>
                </tr>
              {% endfor %}
            {% endif %}
          {% endwith %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

{% endblock %}
{% block script %}
  <script src="{% static 'js/clipboard.min.js' %}"></script>
  <script>
      var clipboard = new Clipboard('*[data-clipboard-text]');
      clipboard.on('success', function (e) {
          $.notify({
              // options
              icon: 'glyphicon glyphicon-ok-circle',
              message: 'Copiado en el portapapeles'
          }, {
              // settings
              type: "warning"
          });
          e.clearSelection();
      });
  </script>

  <script src="{% static 'js/reconnecting-websocket.min.js' %}"></script>
  <script src="{% static 'js/update.js' %}"></script>

{% endblock %}
